.carousel-image-bg-one {
  margin-top: 100px;
  height: 200px;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://images.unsplash.com/photo-1490457843367-34b21b6ccd85?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2869&q=80);
}

.carousel-image-bg-two {
  margin-top: 100px;
  background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://images.unsplash.com/photo-1466978913421-dad2ebd01d17?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2534&q=80);
  height: 200px;
  background-size: cover;
  background-position: center;
}

.carousel-image-bg-three {
  margin-top: 100px;
  background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://images.unsplash.com/photo-1482049016688-2d3e1b311543?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2506&q=80);
  height: 200px;
  background-size: cover;
  background-position: center;
}

.carousel-to-move {
  margin-top:20px;
}

.slide-text-div {
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 0 0 20px black;
}

.slide-paragraph {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 300;
  font-style: normal;
}

.slide-title {
  font-family: mrs-eaves,serif;
  font-size: 50px;
  font-style: italic;
  margin: 0px;
  font-weight: 400;
}

@media only screen and (max-width: 841px) {
  .slide-paragraph {
  display:none;
  }
  .slide-title {
  font-family: mrs-eaves,serif;
  font-size: 40px;
  font-style: italic;
  font-weight: 400;
  margin: 0px;
  white-space: nowrap;
  }
}


