.footer-wrapper {

  background-color: #D06426;
  padding: 20px 50px 20px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  cursor: default;
}

.site-title-footer {
  color: #F4E5DE;
  font-size: 50px;
  margin: 20px 0px 0px 0px;

}

.footer-section-wrapper {
  flex-grow: 1;
  color: #F4E5DE;
}

.footer-section-list{
  list-style: none;
  padding: 0px;

}
.footer-section-list-item{
   line-height:25px

}

.footer-all-section-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 30px
}

@media only screen and (max-width: 700px) {
  .footer-all-section-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px
  }
}

@media only screen and (max-width: 500px) {
  .footer-all-section-wrapper {
    display: grid;
    grid-template-columns: 1fr ;
    grid-column-gap: 20px
  }

  .footer-section-wrapper {
    border-bottom: 1px solid rgba(247,158,116,0.3);
  }
}
