@import './nav.css';
@import url("https://use.typekit.net/wxu0xmo.css");
@import './sub_menu.css';
@import './hamburger.css';
@import './carousel.css';
@import './popout.css';
@import './darkener.css';
@import './facts.css';
@import './square_info.css';
@import './info_banner.css';
@import './fact_banner.css';
@import './info_banner_grid.css';
@import './search_banner.css';
@import './footer.css';
@import './modal.css';

body {
  margin: 0;
  font-family: mrs-eaves,serif;
  font-weight: 400;
  font-style: italic;
  background-color: #F8F7F3;
  height: 200vh;
}

a {
  text-decoration: none;
  color: initial;
}

.menu-text {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lil {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.sub {
  font-family: mrs-eaves,serif;
  font-style: italic;
  font-size: 22px !important;
}

.strong-title {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-style: normal;
}
