.navbar {
  background-color: white;
  position: fixed;
  top:0;
  width: 100%;
  padding: 30px;
  box-sizing: border-box;
  padding-bottom: 10px;
}

.navbar-search {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color:#D06426;
  height: 70px;
  padding-left: 20px;
  padding-right: 20px;
}

.navbar-logo {
  display: flex;
  align-items: center;
  white-space: nowrap;
  font-size: 25px;
  cursor: pointer;
}


.navbar-searchbar {
  height: 100%;
  display: flex;
  align-items: center;
  margin: 20px;
  flex-grow: 1;
}
.navbar-searchbar input {
  height: 20px;
  flex-grow: 1;
  min-width: 150px;
  font-size: 13px;
  font-weight: lighter;
  padding: 10px;
}

.search-icon {
  padding: 12px;
  cursor: pointer;
  transition: all .5s ease;
}
.search-icon:hover {
  transform: scale(1.1) rotate(20deg);
}

.navbar-basket {
  font-size: 20px;
  margin: 20px;
  cursor: pointer;
}

.navbar-navitems-list {
  margin: 0;
  padding: 20px;
}

.navbar-navitems {
  width: 800px;
}
.nav-list-item {
  display: inline;
  list-style: none;
  margin: 10px;
  cursor: pointer;
}

.nav-list-item:first-child {
  display: inline;
  list-style: none;
  margin-left: 0px;
  cursor: pointer;
}
.nav-list-item:hover{
  text-decoration: underline;
}


.drop-down-shop {
  margin-left: 5px;
  margin-right: 5px;
  font-size: 10px;
  top: -1px;
  position: relative;
}

.delivery-time {
  white-space: nowrap;
  margin: 0;
  font-size: 20px;
  cursor: default;
}

@media only screen and (max-width: 841px) {
  .delivery-time {
    display: none;
  }
  .sub-menus {
    display: none;
  }

  .navbar {
    background-color: white;
    padding: 10px;
    width: 100%;
    height: 140px;
  }
  .delivery-time {
    display: none;
  }

  .navbar-navitems{
    display: none;
  }

  .navbar-search {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:#D06426;
    height: 70px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .navbar-searchbar {
    width: 100%;
    margin: 10px;
  }
  .navbar-basket {
    display: none;
  }

  .site-title{
    margin-top:10px;
    margin-bottom: 0px;
    cursor: default;
  }

  .sub-menus {
    display: none;
  }

}

